/*
Grid
*/
$column-prefix: 'col';
$columns: 2;
$column-med-prefix: 'col-med';
$columns-med: 4;
$column-large-prefix: 'col-large';
$columns-large: 8;
$column-x-large-prefix: 'col-x-large';
$columns-x-large: 16;
$max-width: 1200;

/*
Media sizes
*/
$med-min: 600;
$large-min: 900;
$x-large-min: 1020;

/*
Type
*/
$font-size: 16;
$line-height: 22;
$super-font-size: 48;
$h1-font-size: 34;
$h2-font-size: 26;
$h3-font-size: 22;
$h4-font-size: 18;
$h5-font-size: 14;
$h6-font-size: 12;

/*
Buttons
*/
$btn-padding: 8;
$btn-super-size: 20;

/*
Spacing
*/
$spacing: 5; // in px
$spacing-options: 4;

/*
Borders
*/
$border-color: $gray-80;
$border-width: 1;
